body {
  background: linear-gradient(to right, rgb(255, 95, 109), rgb(255, 195, 113));
}

.container {
  margin-top: 80px;
  width: 675px;
}

.current-city {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 50px;
  color: #d83c65;
}

.outside {
  border: none;

  padding: 40px;
}

.current-emoji {
  width: 200px;
  margin-top: 5px;
  position: relative;
  right: 80px;
}

.current-temp {
  text-align: right;
  margin-top: 20px;
  color: #d83c65;
}

.current-temp #temp-now {
  font-size: 50px;
  vertical-align: top;
}

.units {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  top: 12px;
}

.sky {
  text-transform: capitalize;
  color: #d83c65;
}

.property {
  color: black;
  opacity: 50%;
}

.data {
  margin-bottom: 10px;
  color: #d83c65;
}

.weather {
  margin-bottom: 20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.forecast {
  text-align: center;
  margin-top: -50px;
}

.weekday {
  font-size: 25px;
  text-align: center;
  color: #d83c65;
}

.icon {
  width: 75px;
  margin: -12px auto;
}

.daily-temps {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
  color: black;
  opacity: 50%;
}

.high {
  font-weight: bolder;
}

.coder {
  margin-top: 5px;
  text-align: center;
  margin-bottom: 80px;
  color: white;
}
