.container {
  margin-top: 80px;
  color: #ff7043;
  width: 650px;
  box-shadow: gray;
}

.current-city {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 50px;
  color: #ff7043;
}

.outside {
  border: none;
}

.current-emoji {
  width: 200px;
  margin-top: 5px;
  position: relative;
  right: 65px;
}

.current-temp {
  text-align: center;
}

.current-temp #temp-now {
  font-size: 50px;
  vertical-align: top;
}

.units {
  font-size: 20px;
  vertical-align: top;
  position: relative;
  top: 12px;
}

.sky {
  text-transform: capitalize;
}

.property {
  color: black;
}

.data {
  margin-bottom: 10px;
  color: #ff7043;
}

.weather {
  margin-bottom: 20px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.day-data {
  text-align: center;
  border-color: #ff7043;
  border-width: 5px;
  width: 125px;
}

.weekday {
  font-size: 30px;
  text-align: center;
}

.icon {
  font-size: 50px;
  margin: 0 auto;
}

.daily-temps {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.high {
  font-weight: bolder;
}

#temp-now {
  font-size: 40px;
}

.coder {
  margin-top: 20px;
  text-align: center;
}
