.container {
  margin-top: 80px;
  color: #ff7043;
  width: 650px;
}

.current-city {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 50px;
  color: #ff7043;
}

.outside {
  border: none;
}

.current-emoji {
  font-size: 200;
  margin-top: 10px;
  position: relative;
  right: 60px;
  top: 15px;
}

.current-temp #temp-now {
  font-size: 50px;
  margin-top: 35px;
  text-align: center;
}

.current-temp {
  position: relative;
  left: 25px;
}

.units {
  text-align: center;
}

.property {
  color: black;
}

.data {
  margin-bottom: 10px;
  color: #ff7043;
}

.weather {
  margin: 20px 0 20px 0;
}

.weather .col {
  padding: 0;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.day-data {
  text-align: center;
  border-color: #ff7043;
  border-width: 5px;
  width: 125px;
}

.weekday {
  font-size: 30px;
  text-align: center;
}

.icon {
  font-size: 50px;
  position: relative;
  left: 20px;
  margin: 10px;
}

.daily-temps {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}

.high {
  font-weight: bolder;
}

#temp-now {
  font-size: 40px;
}

.coder {
  margin-top: 20px;
  text-align: center;
}
